body {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important;
}

.row {
  padding-bottom: 100px;
}

@media only screen and (max-width: 960px) {
  .mid-column {
    display: flex;
    flex-direction: column-reverse;
  }
}
