
.navbar {
  a {
    color: #fff !important;
  }
  .disabled {
    color: #D3D3D3 !important
  }
  .navbar-toggler {
    background: #fff;
  }

  @media only screen and (max-width: 960px) {
    .navbar-light .navbar-toggler {
      background: #fff !important;
    }
  }
}


.carousel-section {
  background: gray;
  height: 400px;

  .carousel {
    margin-top: 100px;
    @media only screen and (max-width: 600px) {
      margin-top: 0px;
    }
    .carousel-inner {
      width: 75% !important;
      margin: 0 auto;

      .carousel-item {
        color: #fff;
        p {
          font-weight: normal;
        }
      }
    }
  }
}
